@import url(normalize.css);
/*===================================
GLOBAL
===================================*/
body {
  background: #00222e url(../images/banner.jpg) top center no-repeat;
  background-size: cover; }

section, header, footer {
  width: 100%;
  max-width: 575px;
  margin: 0 auto;
  display: block; }

a.logo img {
  max-width: intrinsic;
  width: 80%;
  margin: 0 auto 0;
  padding: 25px 0;
  display: block; }

ul.social {
  list-style-type: none;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  display: block;
  padding: 0; }
  ul.social li {
    display: inline-block;
    float: left;
    padding: 10px 10px;
    margin: 0; }
    ul.social li:hover {
      background: rgba(0, 0, 0, 0.2); }

div.album img {
  width: 100%; }
div.album a:hover img {
  margin-top: -5px;
  transition: all .2s ease-in-out;
  margin-bottom: 5px; }

p {
  font-family: "Georgia", serif;
  color: #fff;
  font-style: italic;
  max-width: 575px;
  margin: 0 auto;
  padding: 0 5%; }

h2 {
  color: #fff;
  text-align: center;
  font-weight: 300;
  margin: 0;
  border-bottom: 1px solid #fff;
  padding: 10px; }
  h2 span {
    font-size: 40px;
    font-weight: 500; }
  h2 a {
    background: #2581a4;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #1f6b88;
    padding: 10px;
    display: inline-block;
    margin: 15px 0 15px 0;
    border-radius: 2px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
    font-weight: 500; }
    h2 a:hover {
      background: #1c607a; }

small {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  max-width: 575px; }

hr {
  border: 0;
  outline: 0;
  height: 1px;
  background: #f4f4f4; }

div.old-album h4 {
  color: #fff;
  padding: 0 15px;
  margin: 15px 0 0 0; }
div.old-album p {
  font-family: "Helvetica", san-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 1.75;
  padding: 10px; }
div.old-album img {
  width: 100%; }
div.old-album div.old-art {
  width: 25%;
  float: left;
  padding: 15px;
  box-sizing: border-box; }
div.old-album div.old-art-info {
  width: 75%;
  float: left;
  background: rgba(0, 0, 0, 0.4);
  display: block;
  margin-top: 15px; }
  div.old-album div.old-art-info a {
    background: #2581a4;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 2px;
    margin: 10px 0 0 0;
    display: inline-block; }
    div.old-album div.old-art-info a:hover {
      background: #1c607a; }

footer {
  padding-bottom: 50px;
  display: block; }

.clear {
  clear: both; }
